<tr>
	<td>Servicio</td>
	<td><%=service.title%>
		<%if service.status == 2%>
			(Activo)
		<%elsif service.status == 4%>
			(Activo)
		<%elsif service.status == 5%>
			(Experiencia)
		<%end%>
	</td>
	<td><%= link_to "Ver", service %></td>
</tr>
