<%if @service.status==1 or @service.status == 3%>
	<h1>Aceptar Servicio</h1>
	<%= render 'form', {accion: "Aceptar"} %>
<%elsif @service.status ==2%>
	<h1>Editar Servicio</h1>
	<%= render 'form', {accion: "Editar"} %>
<%else%>
	<h1>Solicitar Servicio</h1>
	<%= render 'form', {accion: "Solicitar"} %>
<%end%>


