<h1>¿Qué es A+S?</h1>
	<p>
		El aprendizaje y servicio, también conocido como A+S, corresponde a una metodología de aprendizaje activo, en el que los estudiantes ponen en práctica sus conocimientos en comunidades reales. Al momento de aplicarlo es necesario tener dos aspectos esenciales como lo es el aprendizaje y los del servicio otorgado. Luego, debe evaluarse tanto la calidad de los aprendizajes alcanzados por los estudiantes como la calidad del servicio que se le presta a la comunidad destinataria.
	</p>
	<br>
	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Etapas del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/etapas.jpg", id: "imgAS") %>
		</div>
	</div>
	<p>
		<br><br>
		El A+S promueve la adquisición de conocimientos profundos y la formación de valores a través de actividades docentes de servicio a la comunidad  porque se sabe que retenemos: 
		<br><br>
		- 10% de lo que oímos <br>
		- 15% de lo que vemos <br>
		- 20% de lo que vemos y oímos <br>
		- 80% de lo que experimentamos activamente. <br>
		<br>
		En el caso de A+S, éstos cuatro elementos del aprender-haciendo se conjugan plenamente.
		<br><br>
		Además, ésta metodología tiene la diferencia en la cantidad de actores que participan, las metologías comunes contemplan a un docente con sus estudiantes dentro de un aula. Pues bien, el A+S agrega a un nuevo miembro activo llamado "Socio Comunitario". El socio comunitario será el representante de la comunidad en que los estudiantes trabajarán y aportará con la información y recursos que sean necesarios.<br>
	</p>
	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Metodología del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/tridente.jpg", id: "imgAS") %>
		</div>
	</div>
	<br><br> 
	<p>
		Y éstos tres actores (docente, estudiantes y socio comunitario) son los que interactúan para poder llevar a cabo el proyecto del que son parte. A+S, describe los roles de cada miembro de la siguiente forma:  <br><br>
	</p>
	
	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Roles del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/roles.jpg", id: "imgAS") %>
		</div>
	</div>	