<h1>Contacto</h1>
	<p>
		En nuestra página encontrarás nuestras actividades, links de interés y documentos sobre el Aprendizaje – Servicio. Si quieres contactarte con alguno de nuestros miembros, no dudes en enviar un mail a reasechile@gmail.com.
		Si quieres unirte a nuestra organización, tienes sugerencias que hacer o simplemente tienes interés y quieres saber más sobre Aprendizaje y Servicio.
		<br>¡ Muchas gracias !<br>
	</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
    	<h1 class="tituloSesion">Deja un comentario</h1>
		<%=form_for(@mensaje) do |f|%>
			<div class="field">
				<%= f.email_field :email, :class => 'form-control', :placeholder => 'Correo electrónico' %>
			</div>
				<br>
			<div class="actions">
				<%= f.submit "Recuperar contraseña",:id => 'boton', :class => 'btn btn-lg btn-block' %>
			</div>
		<end%-->
    </div>
  </div>
</div>
