<h1>¿Qué hacemos?</h1>

<div class="hacemos" >
	<table>
		<tr>
			<td>MISIÓN</td>
			<td>VISIÓN</td>
		</tr>
		<tr>
			<td><p>Somos una red solidaria formada por instituciones de educación, profesores, estudiantes, organizaciones sociales y privadas; que buscamos desarrollar, sistematizar y promover el enfoque metodológico de “Aprendizaje Servicio”; a través de la investigación e intercambio de herramientas y experiencias entre los integrantes de la red; en función de la innovación en el proceso de enseñanza/aprendizaje y el trabajo colaborativo en lo social.</p></td>
			<td><p>Ser referente para la educación, posicionándonos como la red de “Aprendizaje Servicio” que promueve políticas de innovación educacional que aportan a la realidad nacional.</p></td>
		</tr>
	</table>

<br>
	<center>
	<table>
		<tr>
			<td>VALORES</td>
		</tr>
		<tr>
			<td>
				<p>
					<ul>
						<li>Solidaridad.</li>
						<li>Excelencia/Competencia educativa.</li>
						<li>Diversidad.</li>
						<li>Compromiso País.</li>
						<li>Responsabilidad Social.</li>
						<li>Pluralismo.
					</ul>
				</p>
			</td>
		</tr>
	</table>
	</center>

<br>

	<table>
		<tr>
			<td>OBJETIVOS</td>
		</tr>
		<tr>
			<td>
				<p>
				<ul>
					<li>Instalar el enfoque metodológico de “Aprendizaje Servicio” en distintas instituciones de educación, tales como colegios, institutos profesionales, universidades, etc.</li>
					<li>Impulsar la investigación de la propuesta metodológica de “Aprendizaje Servicio”.</li>
					<li>Difundir y comunicar en Chile el enfoque metodológico de “Aprendizaje Servicio”.</li>
					<li>Fomentar y patrocinar la sistematización de las distintas experiencias sobre “Aprendizaje Servicio”.</li>
					<li>Fortalecer la red y articulación con redes afines.</li>
				</lu>
				</p>
			</td>
		</tr>
	</table>
</div>
