<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.
</p>
<p>REASE se organiza a través de secretarías, las cuales son: </p>
<ul id="estatutos" >
	<li>Secretaría Ejecutiva: Esta comisión está enfocada en hacer un seguimiento al trabajo de las demás comisiones y coordinar el trabajo de ellas, para ello cada miembro de esta comisión se encuentra también trabajando en algunas de las comisiones que se describirán a continuación. Además, se encarga de proponer temas y preparar las reuniones ampliadas de la red.</li><br>
	<li>Comunicaciones: Está comisión busca difundir la labor realizada por REASE mediante diferentes mecanismos, como la elaboración de boletines o videos promocionales. El actual sitio web de la red y la presencia de la organización en las redes sociales, nace de la labor de esta comisión, como también el desarrollo de este trabajo.</li><br>
	<li>Sistematización: Esta comisión busca estandarizar las experiencias de Aprendizaje y Servicio. Su trabajo generó durante el año pasado, la elaboración de un Formulario de Sistematización, el que durante este año ha sido aplicado a las experiencias de A+S en todas las instituciones pertenecientes a la red. </li><br>
	<li>Talleres: Esta comisión busca llevar a cabo diferentes talleres de Aprendizaje y Servicio, que permitan acercar a los docentes y estudiantes a esta metodología. </li><br>
	<li>Encuentro: Integrada por Gabriela Valenzuela, Gema Santander  (U Sto. Tomás), Rubén Vidal (H. de Cristo), Loreto Martínez (H. de Cristo) y Chantal Jouannet. Comisión encargada de organizar el encuentro anual de Aprendizaje y Servicio en Chile, además de gestionar los patrocinadores para el mismo. Actualmente se encuentra gestionando el próximo encuentro que se realizará en enero del próximo año.</li>
</ul>
<br>
<div class="somos" >
	<table>
		<tr><td>ORGANIZACIONES ADHERIDAS </td></tr>
		<tr><td>Universidad Andrés Bello </td></tr>
		<tr><td>Universidad de Chile </td></tr>
		<tr><td>Universidad Católica de Temuco </td></tr>
		<tr><td>Pontificie Universidad Católica de Chile </td></tr>
		<tr><td>Universidad Católica Silva Henríquez </td></tr>
		<tr><td>Universidad Central </td></tr>
		<tr><td>Universidad Católica de Valparaíso </td></tr>
		<tr><td>Universidad de Concepción </td></tr>
		<tr><td>Universidad Adolfo Ibañez </td></tr>
		<tr><td>Universidad Austral </td></tr>
		<tr><td>Universidad Alberto Hurtado </td></tr>
		<tr><td>Universidad de Santiago de Chile </td></tr>
		<tr><td>Universidad de la Frontera </td></tr>
		<tr><td>Hogar de Cristo </td></tr>
		<tr><td>Maristas Chile </td></tr>
</table>
</div>