<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.
</p>
<p>
REASE se organiza con una secretaría ejecutiva, es la única comisión en la que los miembros de la organización se postulan para someterse a la votación del resto de los miembros activos. Ésta comisión es la encargada de realizar las reuniones bimensuales que tiene REASE y de mantener los statutos internos de la organización.
</p>
<p>
Además, existen otras comisiones, en las que los miembros de la organización eligen a libre elección en cuál desea participar y prestar servicio durante un año. Por ejemplo, está la comisión de talleres que organiza cursos de iniciación al A+S, levantamiento de necesidades comunitarias, reflexión sobre la acción, entre otros que se presentan de manera itinerante por distintas organizaciones (casas de estudio, socios o vinculadores sociales). Otras comisiones son la comisión de sistematización que permite definir los estándares de reporte de los proyectos de A+S de manera de tener un banco nacional de este tipo de iniciativas; otra es la comisión de investigación y de comunicaciones. 
</p>
<div class="somos" >
	<table>
		<tr><td>ORGANIZACIONES ADHERIDAS </td></tr>
		<tr><td>Universidad Andrés Bello </td></tr>
		<tr><td>Universidad de Chile </td></tr>
		<tr><td>Universidad Católica de Temuco </td></tr>
		<tr><td>Pontificie Universidad Católica de Chile </td></tr>
		<tr><td>Universidad Católica Silva Henríquez </td></tr>
		<tr><td>Universidad Central </td></tr>
		<tr><td>Universidad Católica de Valparaíso </td></tr>
		<tr><td>Universidad de Concepción </td></tr>
		<tr><td>Universidad Adolfo Ibañez </td></tr>
		<tr><td>Universidad Austral </td></tr>
		<tr><td>Universidad Alberto Hurtado </td></tr>
		<tr><td>Universidad de Santiago de Chile </td></tr>
		<tr><td>Universidad de la Frontera </td></tr>
		<tr><td>Hogar de Cristo </td></tr>
		<tr><td>Maristas Chile </td></tr>
</table>
</div>