<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<%=raw @bulletin.description%>

		<br><br>
		<p><strong>Red Nacional de aprendizaje servicio.</strong></p>
		<p>coordinacion.rease@gmail.com</p>
	</body>
</html>