<h1>Correo enviado el <%=l @bulletin.created_at%></h1>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		<%= @bulletin.title %>
	</div>
	<div class="panel-body">
		<%=raw @bulletin.description %>		
	</div>
</div>

