
<div id="titulo2">
	<br>
	<div id="panelAside" class="panel panel-default">	
		<div class="panel-heading">
			TÍTULO II: DE LOS FINES
		</div>
		<div class="panel-body">
			<h3>Artículo 3º:    	FINES Y OBJETIVOS</h3>
			<p>Esta Red nace con el objetivo de promover transversalmente el desarrollo del “Aprendizaje Servicio en Chile”, a través de los siguientes sectores:</p>
			<ol id = "estatutos" type="1"> 
				<li>La Educación en general, en sus ámbitos académico, administrativo y de investigación.</li>
				<li>Las Organizaciones en general, incluidas las con fines de lucro (ej.: empresas privadas), sin fines de lucro (ej.: asociaciones, fundaciones, cooperativas, ONG’s, etc.) e híbridas (ej.: empresas sociales)</li>
				<li>El Gobierno de Chile en particular, por medio del desarrollo de políticas públicas</li> 
				<li>La Ciudadanía en general, en su más amplia acepción, incorporando con énfasis a los grupos de interés enfocados a la vinculación de la enseñanza y aprendizaje con las necesidades del país.</li>
			</ol>
			 
			<p>La Red tiene el propósito de generar acciones concretas de promoción del “Aprendizaje Servicio en Chile” en cada uno de los sectores señalados, que permitan:</p>

			<ol id = "estatutos" type="1"> 
				<li>Instalar el enfoque metodológico de “Aprendizaje Servicio” en distintas instituciones de educación, tales como colegios, institutos profesionales, universidades, etc. 
				<li>Impulsar la investigación de la propuesta metodológica de “Aprendizaje Servicio”.
				<li>Fomentar y patrocinar la sistematización de las distintas experiencias sobre “Aprendizaje Servicio”
				<li>Difundir y comunicar en Chile el enfoque metodológico de “Aprendizaje Servicio”.
				<li>Fortalecer la red y articulación con redes afines
			</ol>

			<p>La Red entiende por “Aprendizaje Servicio” lo siguiente: </p>
			<p>“Aprendizaje Servicio (A+S) es un enfoque pedagógico de enseñanza-aprendizaje aplicado en cursos, prácticas y tesis, en donde se resuelven problemáticas sociales reales mediante un servicio de calidad, en el que de  manera integrada y colaborativa los tres actores presentes en el proceso (docentes, estudiantes y socios comunitarios)  se vinculan y trabajan en conjunto”.</p>
			 
			<p>La Red ha definido su Misión, como sigue: </p>
			<p>“Somos una red solidaria formada por instituciones de educación, profesores, estudiantes, organizaciones sociales y privadas; que buscamos desarrollar, sistematizar y promover el enfoque metodológico de “Aprendizaje Servicio”; a través de la investigación e intercambio de herramientas y experiencias entre los integrantes de la red; en función de la innovación en el proceso de enseñanza/aprendizaje y el trabajo colaborativo en lo social”.</p>
			<p>La Red tiene la siguiente Visión:</p>
			<p>“Ser referente para la educación, posicionándonos como la red de “Aprendizaje Servicio” que promueve políticas de innovación educacional que aportan a la realidad nacional”.</p>
			 
			<p>La Red adhiere a los siguientes Valores:</p>
			<ul id="estatutos">
				<li>Solidaridad</li>
				<li>Excelencia/Competencia educativa</li>
				<li>Diversidad</li>
				<li>Compromiso País</li>
				<li>Responsabilidad Social</li>
				<li>Pluralismo</li>
			</ul>

			<h3>Artículo 5º:    	ACTIVIDADES A DESARROLLAR</h3>
			 
			<p>La Red podrá realizar las siguientes actividades:</p>

			<ol id = "estatutos" type="1"> 
				<li>Representar los intereses comunes de sus asociados frente a todo tipo de organismos públicos y privados, que tengan relación con la actividad y misión de la RED.</li>
				<li>Crear y organizar programas de formación, proyectos e investigación, y todo tipo de actividades que tiendan al beneficio y cumplimiento de la misión de la RED.</li>
				<li>Fomentar la creación de trabajos co-participativos y colaborativos, a través de alianzas estratégicas con entidades afines, que apoyen las actividades y misión de la RED.</li>
				<li>Generar recursos económicos para el financiamiento de las actividades que permitan cumplir su misión, a través de ingresos propios, postulación a fondos, donaciones y subvenciones.</li>
				<li>Promover, organizar, auspiciar, patrocinar y colaborar en la realización de eventos, congresos, seminarios, talleres y reuniones relacionados con la misión de la RED.</li>
			</ol>
		</div>
		<div id="botonCerrar2">
			<button class="btn btnindice2" id="boton"> Volver al índice </button>
		</div>	
	</div>
</div>
<div id="titulo3">
	<br>
	<div id="panelAside" class="panel panel-default">	
		<div class="panel-heading">
			TÍTULO III: DE LOS ASOCIADOS
		</div>
		<div class="panel-body">
			<h3>Artículo 6º:    	CONDICIONES DE INCORPORACIÓN</h3>
			 
			<p>Podrán ser miembros de REASE, las personas naturales que al momento de asociarse reúnan las siguientes condiciones:</p>
			<ul id = "estatutos">
				<li>Ser mayor de 18 años</li>
				<li>Ser docente, estudiante y/o profesional que trabaja o estudia en instituciones de educación, ya sea Institutos Profesionales, Centros de Formación Técnica y/o Universidades, colegios, jardines, entre otros.</li>
				<li>Trabajadores y profesionales que se desempeñen en organizaciones sin fines de lucro</li>
				<li>Institución de estudios a nivel superior que no estén en juicio vigente por irregularidades en su funcionamiento (por lucro o acreditación) al momento de solicitar su incorporación. De igual manera las instituciones que sean parte de la Red Nacional de Aprendizaje Servicio y estén enjuiciadas por irregularidades, serán suspendidas de sus actividades y participación en la red  hasta que los organismos pertinentes demuestren sus  responsabilidades.</li>
				<li>Institutos y Centros de Formación Técnica acreditados por el Consejo Nacional de Acreditación (CNA).</li> 
			</ul>

			<h3>Artículo 7º:    	FORMAS DE INCORPORACIÓN</h3>
			 
			<p>Podrán ingresar personas naturales que pertenezcan a instituciones de educación y organismos sin fines de lucro como representantes de estas instituciones en las siguientes modalidades:</p>

			<ol id = "estatutos" type="1"> 
				<li>Activo: Recibirá bimensualmente las actas de reuniones, invitaciones a todos los eventos y actividades de la Red y tendrá que participar en las reuniones de ampliadas y comisiones de trabajo de REASE.</li>
			 
				<li>Adherente: Recibirá semestralmente los avances de la Red e invitaciones a eventos masivos, así como invitaciones a eventos masivos de REASE.</li>
			</ol>

			<h3>Artículo 8º:    	DERECHOS DEL MIEMBRO/ASOCIADO ACTIVO</h3>
			 
			<p>Los miembros activos tienen los siguientes derechos:</p>

			<ol id = "estatutos" type="a"> 
				<li>Participar de  las reuniones de la Red con derecho a voz y voto;</li>
				<li>Presentar proyectos o formular iniciativas para la Red;</li>
				<li>Recibir todas las actas de reuniones e invitaciones a todos los eventos y actividades de REASE</li>
				<li>Cupos para todas las actividades de la REASE para estudiantes, docentes y profesionales de su institución en caso de ser representante.</li>
				<li>Visibilidad como participante en las redes sociales y sitio web de la RED.</li>
				<li>Solicitar información acerca de las cuentas, actividades y proyectos a la Secretaría Ejecutiva y en la Asamblea.</li>
				<li>Participar de una comisión de trabajo</li>
			 </ol>
			<h3>Artículo 9º:    	OBLIGACIONES DEL MIEMBRO/ASOCIADO ACTIVO</h3>
			 
			<p>Son obligaciones de los miembros activos:</p>

			<ol id = "estatutos" type="a"> 
				<li>Mantener actualizados sus antecedentes personales y/o de la institución que representa.</li>
				<li>Conocer, respetar y comprometerse a cumplir las disposiciones de estos Estatutos;</li>
				<li>Participar activamente en una comisión de trabajo de la Red durante el año.</li>
				<li>Asistir al menos dos reuniones ampliadas de REASE durante el año.</li>
				<li>Propiciar la difusión de las actividades de la RED.</li>
				<li>Promover el Aprendizaje Servicio en su institución.</li>
			</ol>
			<h3>Artículo 10º:  	FORMAS Y MOTIVOS DE EXCLUSIÓN DE LA ASOCIACIÓN</h3>
			 
			<p>Las personas naturales que están en juicio por incumplimiento a alguno de los salvaguardas de la misión, sólo serán suspendidas hasta que los organismos pertinentes demuestren sus responsabilidades.</p>
			 
			<p>Así mismo todas aquellas instituciones de educación superior que estén siendo enjuiciadas por irregularidades, serán suspendidas de sus actividades y participación en la RED toda vez que los organismos pertinentes demuestren sus responsabilidades.</p>
		</div>
		<div id="botonCerrar3">
			<button class="btn btnindice2" id="boton"> Volver al índice </button>
		</div>	
	</div>
</div>
<div id="titulo4">
	<br>
	<div id="panelAside" class="panel panel-default">	
		<div class="panel-heading">
			TÍTULO IV: ÓRGANOS DE ADMINISTRACIÓN Y SUS ATRIBUCIONES
		</div>
		<div class="panel-body">

			<h3>Artículo 11º:  	DISEÑO Y ESTRUCTURA ORGANIZACIONAL</h3>
			 
			<p>La Red tendrá un diseño organizacional que representa su coherencia con los valores de la democracia, la transparencia, la solidaridad y la igualdad, por lo tanto, su estructura será absolutamente horizontal, con un máximo grado de amplitud y una mínima jerarquía.</p>
			 
			<p>Se contará con una Secretaría Ejecutiva compuesta por 3 miembros activos de la Red. Dichos miembros serán elegidos mediante votación en asamblea general de los miembros activos de REASE, en fecha y hora acordada previamente.</p>



			<h3>Artículo 12º:  	ASAMBLEA GENERAL, COMISIONES Y SECRETARÍA EJECUTIVA</h3>
			 
			<p>La Asamblea General será la autoridad máxima de la RED y sus acuerdos serán obligatorios para todos los asociados con la sola excepción de los acuerdos que se opongan a los Estatutos o a las leyes vigentes. La Asamblea General será la encargada de planificar, dirigir, organizar y controlar todas las actividades y proyectos específicos a desarrollar por los distintos Comités que se generen, así como la toma de decisiones en cualquier ámbito de la Red.</p>
			 
			<p>La Asamblea General de asociados se reunirá ordinariamente como mínimo cinco veces al año, aproximadamente cada dos meses. También se podrá llamar a reuniones extraordinarias cuando lo exijan las necesidades o situaciones a resolver. Los acuerdos se adoptarán por la mayoría absoluta de los asistentes a la Asamblea (más de la mitad de los votos a favor), de manera democrática y transparente por votación abierta. Se llevará un Acta con los acuerdos de la Asamblea.</p>
			 
			<p>Para cada actividad o proyecto a desarrollar por la RED se generarán distintas comisiones. Cada comisión tendrá la cantidad de miembros, diversidad de disciplinas, duración temporal, asignación de recursos, etc., que requiera para cumplir el objetivo por el cual se generó. Cada comisión elaborará un breve documento que explique el proyecto o actividades a desarrollar, que incluya una programación de actividades en cuanto a tiempo y un presupuesto acerca de los recursos monetarios requeridos, con las fechas en que dará cuenta de sus avances así como de sus resultados finales. Cada comisión dará cuenta del logro de sus objetivos y resultados a la Asamblea General.</p>
			 
			<h3>Artículo 13º:  	ATRIBUCIONES Y DEBERES DE LA ASAMBLEA GENERAL</h3>
			 
			<p>La Asamblea General de miembros podrá y/o deberá:</p>

			<ol id = "estatutos" type="1"> 
				<li>Gestionar la toma de decisión acerca de los proyectos, investigaciones y actividades a realizar por la RED para el cumplimiento de su misión.</li>
				<li>Fomentar y mantener una comunicación clara, oportuna y transparente para y entre todos los asociados, a través de documentos y TIC’s.</li>
				<li>Resolver sobre las situaciones que afecten en general la misión de la asociación, así como en particular a los asociados.</li>
			</ol>
			 


			<h3>Artículo 14º:  	ATRIBUCIONES Y DEBERES DE LAS COMISIONES</h3>
			 
			<p>Las comisiones de miembros podrán y/o deberán:</p>

			<ol id = "estatutos" type="1"> 
				<li>Desarrollar todas aquellas actividades y proyectos que aporten al cumplimiento de la misión de REASE, siendo acompañados periódicamente por la Secretaría Ejecutiva.</li>
				<li>Planificar sus actividades en cuanto a cronología temporal y recursos de dinero, de acuerdo a los intereses comunes que surjan entre los miembros.</li>
				<li>Comunicar clara, detallada y transparentemente a la Asamblea General, todas las actividades, alianzas, proyectos, etc., que realicen para el logro de sus objetivos.</li>
				<li>Informar de cualquier problema o solución que afecte a REASE, que esté relacionado con las actividades y proyectos que estén desarrollando.</li>
			 </ol>
			<h3>Artículo 15º:  	ATRIBUCIONES Y DEBERES DE LA SECRETARÍA EJECUTIVA</h3>
			 
			<p>La Secretaría Ejecutiva podrá y/o deberá:</p>

			<ol id = "estatutos" type="1"> 
				<li>Representar judicial y extrajudicialmente a REASE a través de un miembro de la Secretaría Ejecutiva.</li>
				<li>Rendir cuenta ante la Asamblea de la inversión de fondos y de la marcha de REASE.</li>
				<li>Gestión y desarrollo de alianzas con el sistema público, privado y ciudadano.</li>
				<li>Velar por el cumplimiento de los Estatutos y de los acuerdos de la Asamblea, así como supervisar el cumplimiento de objetivos de las comisiones.</li>
				<li>Adquirir, conservar y enajenar todo clase de bienes, a título gratuito u oneroso.</li>
				<li>Gestionar y administrar que se mantenga registro de los siguientes documentos:</li>
				<ol id = "estatutos" type = "a">
					<li>Actas de las asambleas y sesiones de la secretaría ejecutiva</li>
					<li>Cuentas contables, balance anual y memorias explicativas anuales aprobadas</li>
					<li>Registro de asociados/miembros, de la Secretaría Ejecutiva, de los Comisiones, etc.</li>
					<li>Cualquier otra información respecto del desarrollo de sus actividades</li>
				</ol>
			</ol>
		</div>
		<div id="botonCerrar4">
			<button class="btn btnindice2" id="boton"> Volver al índice </button>
		</div>	
	</div>
</div>


