<h1>¿Qué es A+S?</h1>
	<p>
		El aprendizaje y servicio, también conocido como A+S, corresponde a una metodología de aprendizaje activo, en el que los estudiantes ponen en práctica sus conocimientos en comunidades reales. Al momento de aplicarlo es necesario tener dos aspectos esenciales como lo es el aprendizaje y los del servicio otorgado. Luego, debe evaluarse tanto la calidad de los aprendizajes alcanzados por los estudiantes como la calidad del servicio que se le presta a la comunidad destinataria.
	</p>
	<br>
	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Etapas del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/etapas.jpg", id: "imgAS") %>
		</div>
	</div>
	<p>El A+S promueve la adquisición de conocimientos profundos y la formación de valores a través de actividades docentes de servicio a la comunidad  porque se sabe que retenemos: </p>
	<ul id = "estatutos">
		<li>10% de lo que oímos</li>
		<li>15% de lo que vemos</li>
		<li>20% de lo que vemos y oímos</li>
		<li>80% de lo que experimentamos activamente.</li>
	</ul>
	<p>En el caso de A+S, éstos cuatro elementos del aprender-haciendo se conjugan plenamente.</p>
		
	<p>Además, ésta metodología tiene la diferencia en la cantidad de actores que participan, las metologías comunes contemplan a un docente con sus estudiantes dentro de un aula. Pues bien, el A+S agrega a dos nuevos miembros activos llamados: "Socio Comunitario" y "Vinculador social". El socio comunitario será el representante de la comunidad en que los estudiantes trabajarán y aportará con la información y recursos que sean necesarios.</p>

	<p>Y el Vinculador social: Actúa como intermediario entre el docente y el socio comunitario para realizar la actividad de A+S. Hay universidades que cuentan con con área encargada de realizar esta actividad, como CREAS de la Universidad Alberto Hurtado. También pueden considerarse vinculadores sociales instituciones como el Hogar de Cristo o Un techo para Chile.</p>

	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Metodología del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/tridente.jpg", id: "imgAS") %>
		</div>
	</div>

	<p>Y éstos cuatro actores (docente, estudiantes, socio comunitario y vinculador social) son los que interactúan para poder llevar a cabo el proyecto del que son parte. A+S, describe los roles de tres de los miembros de la siguiente forma:</p>
	
	<div id="panelImg" class="panel panel-default">	
		<div class="panel-heading">
			Roles del A+S
		</div>
		<div class="panel-body">
			<%= image_tag("aprendizaje/roles.jpg", id: "imgAS") %>
		</div>
	</div>	