<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- IMPORTANDO BOOTSTRAP -->
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- FAVICON = ícono que va en la parte superior del web browser-->
	<link rel="icon" type="image/jpg" href="img/favicon.ico">
	<!--IMPORTANDO ESTILOS-->
	<link href="css/estilos.css" rel="stylesheet" media="screen">
	<title>CONTACTO</title>
</head>
	<body>
		<h1>Contacto</h1>
		<p>
			Si quieres unirte a nuestra organización, tienes sugerencias que hacer o simplemente tienes interés y quieres saber más sobre Aprendizaje y Servicio, por favor no dudes en enviar un correo a nuestro mail: reasechile@gmail.com.
			¡ Muchas gracias !
		</p>

	</body>
</html>