<h1>Estatutos Red Nacional Aprendizaje Servicio, Chile</h1>


<div id="indice">
	<br>
	<div id="panelAside" class="panel panel-default">	
		<div class="panel-heading">
			ÍNDICE DEL ESTATUTO
		</div>
		<div class="panel-body">
			<ul>
				<li id="indiceEstatuto1">Título I: Del nombre y domicilio.</li>
				<li id="indiceEstatuto2">Título II: De los fines</li>
				<li id="indiceEstatuto3">Título  III: De los asociados</li>
				<li id="indiceEstatuto4">Título IV: Órganos de administración y sus atribuciones</li>
			</ul>
		</div>
	</div>
</div>

<%= render "estatutos"%>


<script type="text/javascript">
	$("#indiceEstatuto1").click(function() 
	{
	    $('html,body').animate({
	        scrollTop: $("#titulo1").offset().top},
	        'slow');
	});
	$("#indiceEstatuto2").click(function() 
	{
	    $('html,body').animate({
	        scrollTop: $("#titulo2").offset().top},
	        'slow');
	});
	$("#indiceEstatuto3").click(function() 
	{
	    $('html,body').animate({
	        scrollTop: $("#titulo3").offset().top},
	        'slow');
	});
	$("#indiceEstatuto4").click(function() 
	{
	    $('html,body').animate({
	        scrollTop: $("#titulo4").offset().top},
	        'slow');
	});
	$(".btnindice1, .btnindice2, .btnindice3, .btnindice4").click(function() 
	{
	    $('html,body').animate({
	        scrollTop: $("#indice").offset().top},
	        'slow');
	});
</script>
