<h1>¿Qué hacemos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile a definido su rol a desempeñar a base de cuatro directrices, las cuales son: 
</p>
<center>
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos1()">Misión</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos2()">Visión</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos3()">Valores</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos4()">Objetivos</button> 
</center>

<div id="mision">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Misión
		</div>
		<div class="panel-body">
			<p>Somos una red solidaria formada por instituciones de educación, profesores, estudiantes, organizaciones sociales y privadas; que buscamos desarrollar, sistematizar y promover el enfoque metodológico de “Aprendizaje Servicio”; a través de la investigación e intercambio de herramientas y experiencias entre los integrantes de la red; en función de la innovación en el proceso de enseñanza/aprendizaje y el trabajo colaborativo en lo social.</p>
		</div>
	</div>
</div>
		

<div id="vision">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Visión
		</div>
		<div class="panel-body">
			<p>Ser referente para la educación, posicionándonos como la red de “Aprendizaje Servicio” que promueve políticas de innovación educacional que aportan a la realidad nacional.</p>
		</div>
	</div>
</div>


<div id="valores">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Valores
		</div>
		<div class="panel-body">
			<ul id="estatutos">
				<li>Solidaridad.</li>
				<li>Excelencia/Competencia educativa.</li>
				<li>Diversidad.</li>
				<li>Compromiso País.</li>
				<li>Responsabilidad Social.</li>
				<li>Pluralismo.
			</ul>
		</div>
	</div>
</div>


<div id="objetivos">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Objetivos
		</div>
		<div class="panel-body">
			<ul id="estatutos">
				<li>Instalar el enfoque metodológico de “Aprendizaje Servicio” en distintas instituciones de educación, tales como colegios, institutos profesionales, universidades, etc.</li>
				<li>Impulsar la investigación de la propuesta metodológica de “Aprendizaje Servicio”.</li>
				<li>Difundir y comunicar en Chile el enfoque metodológico de “Aprendizaje Servicio”.</li>
				<li>Fomentar y patrocinar la sistematización de las distintas experiencias sobre “Aprendizaje Servicio”.</li>
				<li>Fortalecer la red y articulación con redes afines.</li>
			</lu>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('mision').style.display='block';
	document.getElementById('vision').style.display='none';
	document.getElementById('valores').style.display='none';
	document.getElementById('objetivos').style.display='none';
</script>