<h1>¿Qué hacemos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile a definido su rol a desempeñar a base de cuatro directrices, las cuales son: 
</p>
<center>
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos1()">Misión</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos2()">Visión</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos3()">Valores</button> 
	<button id="botonHacemos" class = "btn btn-lg" onclick="menuHacemos4()">Objetivos</button> 
</center>

<% @secciones.each do |seccion| %>
	<%if seccion.order == 'Hacemos'%>
	<% div_id = seccion.title -%>
	<div id="<%= div_id -%>" >
		<div id="panelAside" class="panel panel-default">
			<div class="panel-heading">
				<%=	seccion.title %> 
			</div>
			<div class="panel-body">
				<p><%=raw seccion.body %></p>
			</div>
		</div>
	</div>
	<%end%>
<%end%>

<script type="text/javascript">
	document.getElementById('Misión').style.display='block';
	document.getElementById('Visión').style.display='none';
	document.getElementById('Valores').style.display='none';
	document.getElementById('Objetivos').style.display='none';
</script>