<h1>Bienvenido a Rease:</h1>
<h2>El sitio de la Red Nacional de Aprendizaje y Servicio, Chile</h2>
<% @secciones.each do |seccion| %>
	<div id="panelAside" class="panel panel-default">
		<div class="panel-heading">
			<%= seccion.title %>
		</div>
		<div class="panel-body">
			<p><%=raw seccion.body %></p>
		</div>
	</div>
<%end%>
