<% @sections.each do |seccion| %>
	<%if seccion.order == 'Estatutos'%>
		<div  class="panel panel-default panelRease">
			<div class="panel-heading">
			<i class="glyphicon glyphicon-circle-arrow-left" data-dismiss="modal"></i>
				<%=	seccion.title %> 
			</div>
			<div class="panel-body">
				<p><%=raw seccion.body %></p>
			</div>
		</div>
	<%end%>
<%end%>