<% if !user_signed_in? %>
	<div id="panelRease" class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#cuerpo">
			Ingreso Intranet
		</div>
		<div class="collapsing" id="cuerpo">
			<div class="panel-body" id="styleSession" >
		    	<%= render "devise/sessions/inicio_sesion" %>
			</div>	
		</div>
	</div>
<%end%>
