<div  class="panel panel-default panelClick">
	<div class="panel-heading" data-toggle="collapse" data-target="#cuerpoRecursos">
		Últimos recursos <i class="glyphicon glyphicon-circle-arrow-down"></i>
	</div>
	<div class="collapsing" id="cuerpoRecursos">
		<div class="panel-body" id="styleSession" >
			<% Resource.order("created_at ASC").last(4).each do |resource| %>
				<p><%=l resource.date%>:  <%= truncate(resource.name, length: 25)%> - <%= link_to 'ver', resource.archive.url%></p>
			<%end%>
	    	<p style="text-align: center;"><%= link_to "Ver todos", resources_muestra_path%>
		</div>	
	</div>
</div>