<h1>Página de perfil</h1>

<div class="panel panel-default panelRease">
	<div class="panel-heading">
		¡Hola <%= @user.name %>!
	</div>
	<div class="panel-body">
		<p><strong>Nombre completo:</strong> <%= @user.name %> <%= @user.last_name %></p>
		<p><strong>Categoría:</strong> 
			<%if @user.category == 1%> Administrador <%end%>
			<%if @user.category == 2%> Profesor <%end%>
			<%if @user.category == 3%> Vinculador Social <%end%>
			<%if @user.category == 4%> Socio Comunitario <%end%>
	</div>
</div>
