<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Crear una nueva sección para Aprendizaje y Servicio
	</div>
	<div class="panel-body">
		<%= render "form",orden: "Aprendizaje y Servicio" %>
	</div>
</div>
<br>
<h1>Sección A+S Anteriores: </h1>
<%= render "muestra", {orden: "Aprendizaje y Servicio", eliminar: "Si"} %>
