<h1>Administrar ¿Qué es A+S? </h1>

<%= link_to "Nueva seccion de Aprendizaje Servicio", sections_newAprendizaje_path, :class=>"btn btn-lg btnCRUD"%>

<h1>Sección A+S Anteriores: </h1>
<%= render "muestra", {orden: "Aprendizaje Servicio", eliminar: "Si"} %>
