<%= link_to "Nueva seccion de Estatutos", sections_newEstatutos_path, :class=>"btn btn-lg btnCRUD"%>

<h1>Secciones de Estatutos anteriores: </h1>

<%= render "muestra", {orden: "Estatutos", eliminar: "Si"} %>