<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Crear una nueva sección de estutos
	</div>
	<div class="panel-body">
		<%= render "form",orden: "Estatutos" %>
	</div>
</div>

<h1>Secciones de Estatutos anteriores: </h1>

<div class="panel">
	<div class="panel-heading">
		
	</div>
	<div class="panel-body">
		<% @sections.each do |seccion| %>
			<%if seccion.order == "Estatutos"%>
				<p>
				<%=	link_to seccion.title, seccion %>  - 
				<%= link_to "Editar", edit_section_path(seccion)%> - 
				<%= link_to 'Eliminar', seccion, method: :delete, data: { confirm: '¿Está seguro de eliminar esta sección?' } %>
				</p>
			<%end%>
		<%end%>
	</div>
</div>