<div class="panel panel-default" id="panelRease">
	<div class="panel-heading">
		Crear una nueva sección de hacemos
	</div>
	<div class="panel-body">
		<%= render "form",orden: "Hacemos" %>
	</div>
</div>
<br>
<h1>Seccion de Hacemos anteriores: </h1>
<%= render "muestra", {orden: "Hacemos", eliminar: "Si"} %>
