<h1>Administrar Novedades </h1>
<%= link_to "Nueva seccion de Novedad", sections_newNovedades_path, :class=>"btn btn-lg btnCRUD"%>

<h1>Secciones de ¿Qué hacemos? anteriores: </h1>
<%= render "muestra", {orden: "Novedad", eliminar: "Si"} %>

