<div class="panel panel-default" id="panelAside">
	<div class="panel-heading">
		Crear una nueva novedad
	</div>
	<div class="panel-body">
		<%= render "form",orden: "Novedad" %>
	</div>
</div>
<br>
<h1>Novedades anteriores: </h1>
<%= render "muestra", {orden: "Novedad", eliminar: "Si"} %>
