<div class="panel panel-default" id="panelAside">
	<div class="panel-heading">
		Crear una nueva seccion de Somos
	</div>
	<div class="panel-body">
		<%= render "form",orden: "Somos" %>
	</div>
</div>
<br>
<h1>Secciones de Somos anteriores: </h1>
<%= render "muestra", {orden: "Somos", eliminar: "Si"} %>
