<p><strong>Evento: </strong>  <%=event.title%> (
<%if event.status == 1%>
	Disponible
<%elsif event.status == 2%>
	Realizado
<%elsif event.status == 3%>
	Cancelado
<%else%>
	Caducado
<%end%>
) - <%= link_to "Ver", event %> </p>
