<h1>Solicitudes de servicio</h1>


<% if current_user.category != 2 %>
	<%= link_to "Nueva solicitud de servicio", new_request_path, :class => 'btn btn-lg' %>
<%end%>

<% @requests.each do |request| %>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			<%= request.title %>
		</div>
		<div class="panel-body">
			<%=raw request.description %>
		</div>
		<div class="panel-footer">
			<p><strong>Creador: </strong> <%= link_to request.user.name+' '+request.user.last_name, user_path(request.user.id)  %></p>
		</div>
	</div>
<%end%>