<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Contacto para REASE
</div>
<div class="panel-body">
	<p>
	  <strong>Name:</strong>
	  <%= @contact.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @contact.email %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= @contact.body %>
	</p>
</div>
<div class="panel-footer">
	<p>Se ha enviado un correo a coordinacion.rease@gmail.com y a usted con su comentario.</p>
	<p>Muchas gracias</p>
</div>