<h1>Mensaje Enviado</h1>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Contacto para REASE
</div>
<div class="panel-body">
	<p>
	  <strong>Nombre:</strong>
	  <%= @contact.name %>
	</p>

	<p>
	  <strong>Correo electrónico:</strong>
	  <%= @contact.email %>
	</p>

	<p>
	  <strong>Comentario:</strong>
	  <%= @contact.body %>
	</p>
</div>
<div class="panel-footer">
	<p>Se ha enviado un correo a redrease@gmail.com y a usted con su comentario.</p>
	<p>Muchas gracias</p>
</div>