.somos 
{
	margin:0px;padding:0px;
}
.somos table
{
	border-collapse: collapse;
	border-spacing: 0;
	margin-left:20%;
	min-width: 60%;
	padding:0px;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
	box-shadow:  2px 2px 2px 2px #a4a4a4;
}
.somos tr:last-child td:last-child 
{
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.somos table tr:first-child td:first-child 
{
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.somos table tr:first-child td:last-child 
{
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}
.somos tr:last-child td:first-child
{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}
.somos tr:hover td
{
	background-color:#30bbbb;
	font-weight: bold;
	color: white;
}
.somos td
{
	vertical-align:middle;
	width: 50%;
	background-color:#ffffff;
	border:1px solid #30aaaa;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}
.somos tr:last-child td
{
	border-width:0px 1px 0px 0px;
}
.somos tr td:last-child
{
	border-width:0px 0px 1px 0px;
}
.somos tr:last-child td:last-child
{
	border-width:0px 0px 0px 0px;
}
.somos tr:first-child td
{
	background-color:#30aaaa;
	border:0px solid #30aaaa;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}
.somos tr:first-child:hover td
{
	background-color:#30bbbb;
}
.somos tr:first-child td:first-child
{
	border-width:0px 0px 1px 0px;
}
.somos tr:first-child td:last-child
{
	border-width:0px 0px 1px 1px;
}




.hacemos 
{
	margin:0px;padding:0px;
}
.hacemos table
{
	margin-left:5%;
	min-width: 20%;
	max-width: 90%;
	padding:0px;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
	box-shadow:  2px 2px 2px 2px #a4a4a4;
	border: 0px;

}
.hacemos tr:last-child td:last-child 
{

	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;


}
.hacemos table tr:first-child td:first-child 
{

	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
	border-left: 0px;

}
.hacemos table tr:first-child td:last-child 
{
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;

}
.hacemos tr:last-child td:first-child
{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}
.hacemos tr:hover td
{
}
.hacemos td
{
	vertical-align:middle;
	width: 50%;
	background-color:#ffffff;
	border:1px solid #30aaaa;
	border-width:0px 0px 0px 0px;
	text-align:justify;
	padding:7px;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}
.hacemos tr:first-child td
{
	background-color:#30aaaa;
	border:0px solid #30aaaa;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}
.hacemos tr:first-child:hover td
{
	background-color:#30bbbb;
}
.hacemos tr:first-child td:first-child
{
	border-width:0px 0px 1px 0px;
}
.hacemos tr:first-child td:last-child
{
	border-width:0px 0px 1px 1px;
}
#tablaSolicitud
{
	color: black;
}