<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Contacto para REASE
		</div>
		<div class="panel-body">
			<p>El señor(a)  <strong><%= @contact.name %></strong> se ha comunicado con rease entregando los siguientes datos: </p>
			<p><strong>Mail:</strong> <%= @contact.email %></p>
			<p><strong>Comentario:</strong></p>
			<p> <%= @contact.body %></p>
		</div>
		<div class="panel-footer">
			<br><br>
			<p><strong>Red Nacional de aprendizaje servicio.</strong></p>
			<p>redrease@gmail.com</p>
		</div>
	</div>   

	</body>
</html>