<h1>Actas de reuniones</h1>

<!-- Enlace a la página de subir archivos -->
<% if user_signed_in? && current_user.category == 1 %>
   <%= link_to "Subir archivo", {:controller => "minutes", :action => "upload_minutes"}, :class => "btn btn-lg btnCRUD" %>
<%end%>


<!-- Lista de archivos subidos -->
<ul>
   <% @archivos.each do |archivo| %>
   <% if archivo == "." or archivo == ".." then next end; %>
      <a target="_blank" href="/archivos/<%= archivo %>"> <%= archivo %> </a> 

      <% if user_signed_in? && current_user.category == 1 %>
         <%= link_to " || Borrar archivo", {:controller => "minutes", :action => "delete_minutes", :archivo_a_borrar => archivo} %>
      <% end %>
      <br>
   <% end %>
</ul>
<!-- Acá se guarda el nombre del archivo antes de que el formularo sea enviado-->