<br><br><br>
<%= link_to image_tag("LogoRease.png"), root_path %>
<p style="color:#30aaaa; font-size: 50px; font-weight: bold; text-align: center;">ERROR: 404</p>
<p style="color:#30aaaa; font-size: 25px; font-weight: bold; text-align: center;">Página no encontrada</p>
<p style="font-size: 15px; text-align: center;">Si el problema persiste comuníquese con un administrador</p>

<%= link_to 'Volver', :back, :class=>'btn btn-lg btnCRUD' %>