
<p>Hola <%= @resource.email %>!</p>

<p>Usted ha pedido un cambio de contrase침a. Esto lo podr치 realizar en el siguiente link.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha pedido este cambio, por favor ignore este correo.</p>
<p>Su contrase침a no cambiara hasta que usted lo desee y se conecte nuevamente.</p>
